// assets/styles/variables.scss

// Colores
$color-primary: #80c6ca;
$color-secondary: #EEEEEE;
$color-tertiary: #f96182;
$color-background: #31363F;
$color-nav-background: #272a2e;

// Tamaños de letra
$font-size-extra-large: 2.2em;
$font-size-large: 1.5em; 
$font-size-medium: 1.25em;
$font-size-small: 1.1em;

// Espaciados
$spacing-large: 1.25rem;
$spacing-medium: 0.9375rem;
$spacing-small: 0.625rem; 
