// assets/styles/variables.scss

// Colores
$color-primary: #80c6ca;
$color-secondary: #EEEEEE;
$color-tertiary: #f96182;
$color-background: #31363F; // Color de fondo global
$color-nav-background: #272a2e; // Color de fondo del navbar

// Tamaños de letra
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 14px;

// Espaciados
$spacing-large: 20px;
$spacing-medium: 15px;
$spacing-small: 10px;
